@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}


.text {
    padding: 20px 10px;
    text-align: center;
}

.text h4 {
    padding-bottom: 20px;
    
}

.text p {
    font-size: 15px;
    padding: 0 15px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
